<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__brand">
        <div class="footer__logo"><strong>{{ site.name }}</strong></div>
        <div class="footer__slogan">Металлопрокат с гарантией качества</div>
      </div>
      <nav class="footer__nav">
        <div class="footer__nav-col">
          <h4 class="footer__nav-title">Каталог</h4>
          <a class="footer__nav-link" href="/catalog/">Все категории</a>
        </div>
        <div class="footer__nav-col">
          <h4 class="footer__nav-title">Компания</h4>
          <a class="footer__nav-link" href="/about/">О компании</a>
          <a class="footer__nav-link" href="/#contacts">Контакты</a>
        </div>
      </nav>
      <div class="footer__contacts">
        <div class="footer__contact-item">
          <strong>{{ site.phone }}</strong>
        </div>
        <div class="footer__contact-item">{{ site.email }}</div>
        <div class="footer__contact-item">{{ site.address }}</div>
        <div class="footer__contact-item">
          <a href="https://www.rusprofile.ru/id/1251800011275" target="_blank" style="border: 0 none !important;" title="Проверенная компания" rel="dofollow">
            <img src="https://www.rusprofile.ru/examples/approved_dark_bg.svg" alt="Проверенная компания" width="166" height="92" style="border: none; vertical-align: top;">
          </a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© {{ year }} {{ site.name }}</div>
      <div class="footer__legal">
        <a class="footer__legal-link" href="/privacy/">Политика конфиденциальности</a>
        <a class="footer__legal-link" href="/terms/">Пользовательское соглашение</a>
      </div>
    </div>
  </div>
</footer>


